.container {
    border: 1px solid purple;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.contactMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50vh;
}

.heading {
    font-weight: bold;
}

.contactText {
    max-width: 60%;
    padding: 1rem;
}

.contactButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.contactIcons {
    margin-top: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.5rem;
}
