@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
    --bkg-color: #fffffe;
    --primary-color: #6246ea;
    --primary-color-300: hsla(250, 80%, 60%, 0.353);

    --secondary-color: #d1d1e9;
    --button-text: #fffffe;
    --paragraph: #2b2c34;
    --header-color: #2b2c34;
    --hero-section-bkg: #444;
    --icon-highlight-border: purple;
    --btn-hover-bkg: purple;
    --nav-main-btn-color: purple;
    --nav-active-color: purple;
    --box-shadow: #2b2c34;
    --transition: all 0.3s ease-in-out;
    --front-topic-color: red;
    --back-topic-color: green;
    --other-topic-color: purple;
    --db-topic-color: blue;
    --table-even: #cbd5e1; /*Slate 300  */
    --table-uneven: #f1f5f9; /* Slate 100 */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vmax;
}

body {
    background: #f2f2f2;
    color: #333;
    font-family: 'Nunito', serif;
}

a,
.resume {
    color: #333;
    text-decoration: none;
}
