.container {
    margin: 1rem;
    overflow: auto;
    box-shadow: 0 15px 50px var(--box-shadow);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 33%;
    border-radius: 1rem;
}

.container:hover .cardDetails {
    max-height: 15rem;
    transition: all ease-in-out 0.5s;
}

.cardHeader {
    margin-left: 1rem;
}

.cardBody {
    padding: 0 0.5rem;
}

.cardBody .imageContainer {
    margin: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody .topic {
    text-transform: capitalize;
    display: inline-block;
    margin-left: 0.5rem;
}

.cardBody .topicHeader {
    margin-left: 0.5rem;
}
.cardDetails {
    margin-left: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    transition: max-height 1s;
    max-height: 0;
}

.cardDetails .projectDates {
    display: flex;
    flex-direction: column;
}

.cardDetails .showcaseButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.cardDetails .sourceCode {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cardDetails .liveDemo {
    border-radius: 0.5rem;
    border: transparent;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--button-text);
    cursor: pointer;
}

.cardDetails .cardDescription {
    border-top: 1px solid #eaeaea;
    margin-top: 0.25rem;
}
