.container {
    margin: 1rem;
    max-width: 33%;
    overflow: auto;
    width: auto;
    max-height: 25rem;
    transition: max-height 0.5s;
    box-shadow: 0 15px 50px var(--box-shadow);
    overflow: hidden;
}

.container:hover {
    max-height: fit-content;
    transition: max-height 0.5s;
}

.cardHeader {
    margin-left: 0.25rem;
}

.cardBody {
    padding: 0 0.5rem;
}

.cardBody .imageContainer {
    margin: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody .topic {
    text-transform: capitalize;
}

.cardBody .topic::after {
    content: ', ';
}

.container:hover .cardDetails {
    transform: translateY(0);
}

.cardDetails {
    padding: 0.5rem;
    transform: translateY(15rem);
}

.cardDetails .showcaseButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.cardDetails .sourceCode {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cardDetails .liveDemo {
    border-radius: 0.5rem;
    border: transparent;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--button-text);
    cursor: pointer;
}

.cardDetails .cardDescription {
    border-top: 1px solid #eaeaea;
    margin-top: 0.25rem;
}
